.game_page {
    background-color: #3f2711;
    color: white;
    height: 100vh;

    .header_section {
        display: flex;
        place-items: center;
        flex-direction: column;
        padding: 1em 0;

        Button {
            margin: 20px;
        }
    }
    .player_score {
        display: flex;
        place-items: center;
        flex-direction: column;
        font-size: large;
    }

    .playfield_section {
        display: flex;
        justify-content: space-evenly;

        .playfield {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            cursor: pointer;
            
            .row {
                display: grid;
                grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
                height: 40px;
            }

            .box {
                background-color: whitesmoke;
                opacity: 0.6;
                border: 1px solid #c0c0c0;
                color: transparent;
                padding: 10px;
                text-align: center;
                font-size: 0.7em;
            
                &:hover {
                    opacity: 0.8;
                    transition: 0.6s;
                }
            }

            .ship {
                background-color: #00fff28d;
                border: 1px solid #c0c0c0;
                color: transparent;
            }

            .missBox {
                background-color: red;
                border: 1px solid #c0c0c0;
                opacity: 0.8;
                padding: 10px;
                text-align: center;
                font-size: 0.7em;
                font-weight: bold;
            }

            .hitBox {
                background-color: greenyellow;
            }

            .enemy_field {
                cursor: pointer;
            }
        }
        
    }
}