.home_page {
    background-color: #0f3d3b;
    color: white;
    height: 100vh;
    display: flex;
    place-items: center;
    flex-direction: column;
    padding-top: 5em;

    h2 {
        padding-bottom: 1.5em;
    }
    
    img {
        max-inline-size: 25%;
        padding-bottom: 2em;
    }
}